@import "tailwindcss";

/* SVN-Gilroy Font Family */
@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('/fonts/SVN-Gilroy-Black.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-monito-blue: #003459;
  --color-monito-yellow: #F7DBA7;
  --color-monito-red: #FF564F;
  --color-monito-dark-gray: #667479;
  --color-monito-light-gray: #99A2A5;
  --color-monito-cream: #FDF8EB;
  --font-sans: 'SVN-Gilroy', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  @apply antialiased;
}

/* Global Layout */
.monito-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
}

@media (min-width: 1280px) {
  .monito-container {
    padding-left: 131px;
    padding-right: 131px;
  }
}


/* CTA Styles */
.cta-medium {
  font-family: 'SVN-Gilroy', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

/* Scroll Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 20s linear infinite;
  min-width: 100%;
}

/* Rectangle Rotation Animation */
@keyframes rotate-rectangle {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}